<div class="being_master_container">
  <div class="being_form_container">
    <form action="/beings/new" method="post" accept-charset="utf-8">
      <p><%= flash[:new_being_error] %></p>

      <label>Name: </label>
      <input type="text" name="name" id="name"/>

      <br><br>

      <label>Age: </label>
      <input type="text" name="age" id=""/>

      <br><br>

      <label>Species: </label>
      <input type="text" name="species" id="species"/>

      <br><br>

      <label>Body: </label>
      <% Part::BODY_MODELS.each do |model| %>
        <label><%= model %></label>
        <input type="radio" value="<%= model %>" name="body[model]" id="body_model_<%= model %>" onchange="bodyChange(this)" <%= 'checked' if model == 1 %>/>
      <% end %>

      <br>

      <label>Color: </label>
      <input type="range" value="100" name="body[color]" id="body_color" oninput="bodyColorChange(this)"/> 
      <br>
      <label>Brightness: </label>
      <input type="range" value="100" name="body[brightness]" id="body_brightness" oninput="bodyBrightnessChange(this)"/>

      <br><br>

      <label>Head: </label>
      <% Part::HEAD_MODELS.each do |model| %>
        <label><%= model %></label>
        <input type="radio" value="<%= model %>" name="head[model]" id="head_model_<%= model %>" onchange="headChange(this)" <%= 'checked' if model == 1 %>/>
      <% end %>

      <br>

      <label>Color: </label>
      <input type="range" value="100" name="head[color]" id="head_color" oninput="headColorChange(this)"/> <br>
      <label>Brightness: </label>
      <input type="range" value="100" name="head[brightness]" id="head_brightness" oninput="headBrightnessChange(this)"/>

      <br><br>

      <label>Eyes: </label>
      <% Part::EYES_MODELS.each do |model| %>
        <label><%= model %></label>
        <input type="radio" value="<%= model %>" name="eyes[model]" id="eyes_model_<%= model %>" onchange="eyesChange(this)" <%= 'checked' if model == 1 %>/>
      <% end %>

      <br>

      <label>Color: </label>
      <input type="range" value="100" name="eyes[color]" id="eyes_color" oninput="eyesColorChange(this)"/> 
      <br>
      <label>Brightness: </label>
      <input type="range" value="100" name="eyes[brightness]" id="eyes_brightness" oninput="eyesBrightnessChange(this)"/>

      <br><br>

      <input type="submit" value="Create" name="create" id="create"/>
    </form>

    <br>

  </div>

  <div class="being_preview_container">
    <div class="being_preview">
      <div class="being_container">
        <img id="body_preview" class="body_display" src="/img/body1.png" width="114"/>
        <img id="head_preview" class="head_display" src="/img/head1.png" width="114"/>
        <img id="eyes_preview" class="eyes_display" src="/img/eyes1.png" width="114"/>
      </div>
    </div>
  </div>

</div>

<script src="/js/edit_being.js"></script>
